<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ningenme.net.mybatis.AtcoderUserContestMapper">
    <resultMap id="AtcoderUserContest" type="ningenme.net.domain.AtcoderUserContestDomain">
        <id property="atcoderId" column="atcoder_id"/>
        <id property="contestNameEn" column="contest_name_en"/>
        <id property="contestType" column="contest_type"/>
    </resultMap>
    <select id="select" resultMap="AtcoderUserContest">
        SELECT * FROM atcoder_user_contest
        <where>
            <if test="atcoderId != null">
                AND atcoder_id = #{atcoderId}
            </if>
            <if test="contestType != null">
                AND contest_type = #{contestType}
            </if>
            <if test="true">
                AND deleted_time IS NULL
            </if>
        </where>
    </select>
</mapper>
